@import "tailwindcss";

@theme {
  /* Dark Slate Palette */
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-400: #94a3b8;

  /* Teal Accent Palette */
  --color-teal-400: #2dd4bf;
  --color-teal-300: #5eead4;
}

body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-400);
  font-family: sans-serif;
}

::selection {
  background-color: #2dd4bf50;
  color: #fff;
}